.button {
    -fx-text-fill: navy;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-color: lightblue;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
}

.borderPane {
    -fx-background-color: linear-gradient(to bottom right, white 20%, white 70%, #F0D1D5 100%);
}

#btnPrev, #btnNext {
    -fx-border-color: none;
    -fx-font-size: 48px;
}

.sidebar {
    -fx-background-color: #222A35;
}
.btnUser {
    -fx-text-fill: #F0D1D5;
}

.fontAwesomeIcon {
    -fx-fill: #F0D1D5;
    -fx-size: 4em;
}

.fontAwesomeIcon:hover {
    -fx-fill: #53CF48;
}

.topBar {
    -fx-background-color: #222A35;
    -fx-background-radius: 0px 0px 30px 0px;
    -fx-effect: dropshadow(three-pass-box, #222A35, 2, 0, 2, 2);
}

.card {
    -fx-background-color: #C3BDBE;
    -fx-background-radius: 0px 30px 30px 30px;
    -fx-border-color: #222A35;
    -fx-border-radius: 0px 30px 30px 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}
.card:hover {
    -fx-effect: dropshadow(three-pass-box, #53CF48, 20, 0, 0, 0);
}

.cardIcons {
    -fx-fill: #222A35;
}
.cardIcons:hover {
    -fx-effect: dropshadow(three-pass-box, #53CF48, 2, 0, 0, 0);
}

.CardText {
    -fx-text-fill: #222A35;
    -fx-font-size: 29px;
}

.CardText:hover {
    -fx-font-size: 29px;
    -fx-underline: true;
}

.forwardBackward {
    -fx-fill: #222A35;
}

.forwardBackward:hover {
    -fx-fill: #53CF48;
}

.LoginPane {
    -fx-background-color: #89CFEB;
}

.ProductPane {
    -fx-background-color: lightgrey;
}

.loginBtn{
    -fx-background-color: #89CFEB;
    -fx-text-fill: #091530;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.loginBtn:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #89CFEB;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
/* TABLE STYLES ========================================================================================================
*/
.table-view .column-header-background .filler {
    -fx-border-radius: 30px 30px 0 0;
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #53CF48;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* END OF TABLE STYLES =================================================================================================
*/